/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --main-text-cl: #3e3e3e;
  --accent-cl: #ba271f;
  --hover-cl: #880f12;
  --link-cl: #fa3a5e;
  --dark-bg: #f0f0f0;
  --thumb-bg: #e8e8e8;
  --promo-bg: #a99473;
  --form-bg: #b4a184;
  --footer-bg: #a99473;
  --white-cl: #ffffff;
  --time-func: cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: "Open-Sans", sans-serif;
  --logo-font: "Lato", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.features__list, .courses__list, .team__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  color: var(--main-text-cl);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social {
  display: flex;
  align-items: center;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: inherit;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent-cl);
}

.logo {
  font-family: var(--logo-font);
  font-weight: 300;
  font-size: 32px;
  color: var(--white-cl);
  text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1199.99px) {
  .logo {
    font-size: 32px;
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 52px;
    margin-right: 75px;
  }
}

.mobile-menu {
  display: none;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  padding: 20px 40px;
  background-color: #bd9569;
}

.mobile-menu.is-open {
  display: block;
  position: fixed;
  right: 17px;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .mobile-menu.is-open {
    display: none;
  }
}

.mobile__logo {
  font-size: 25px;
}

@media screen and (min-width: 767px) {
  .mobile__logo {
    display: none;
  }
}

.mobile-menu__buton {
  position: absolute;
  right: 10px;
  padding: 0;
  background-color: transparent;
  border: 0;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .mobile-menu__buton {
    display: none;
  }
}

.mobile-menu__buton.is-open {
  position: fixed;
  right: 17px;
  top: 10px;
}

.mobile-menu__buton:hover .mobile-menu__icon--menu,
.mobile-menu__buton:focus .mobile-menu__icon--menu,
.mobile-menu__buton:hover .mobile-menu__icon--cross,
.mobile-menu__buton:focus .mobile-menu__icon--cross {
  fill: var(--accent-cl);
}

.mobile-menu__icon {
  display: block;
  width: 40px;
  height: 40px;
  fill: var(--white-cl);
}

.mobile-menu__icon--menu {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__icon--cross {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}

.is-open .mobile-menu__icon--cross {
  display: block;
}

.is-open .mobile-menu__icon--menu {
  display: none;
}

.mobile-menu__list {
  margin-top: 50px;
}

.mobile__menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile__link {
  color: var(--white-cl);
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.nav__list {
  display: flex;
  align-items: baseline;
}

@media screen and (min-width: 768px) and (max-width: 1199.99px) {
  .nav__list {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .nav__list {
    font-size: 25px;
  }
}

.nav__item {
  position: relative;
}

.nav__item:not(:last-child),
.contacts__item:not(:last-child) {
  margin-right: 57px;
}

.nav__link {
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--white-cl);
}

@media screen and (min-width: 768px) and (max-width: 1199.99px) {
  .nav__link {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .nav__link {
    font-size: 25px;
  }
}

.nav__link--curent {
  display: block;
  color: var(--accent-cl);
}

.nav__link--curent::after {
  content: "";
  border: 2px solid var(--accent-cl);
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--accent-cl);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  overflow-y: scroll;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .backdrop {
    display: none;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal-window {
  transform: translate(-50%, 0) scale(0.8);
}

.modal-window {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  margin-top: 93px;
  transform: translate(-50%, 0) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  background-color: var(--white-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal-window {
    width: 450px;
    height: 350px;
  }
}

@media screen and (min-width: 768px) {
  .modal-window {
    display: none;
  }
}

.modal-window__close {
  position: absolute;
  top: 10px;
  right: 8px;
}

.modal-window__close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--white-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-window__close-button:hover .modal-window__close-icon,
.modal-window__close-button:focus .modal-window__close-icon {
  fill: var(--accent-cl);
}

.modal-window__close-icon {
  display: block;
  width: 11px;
  height: 11px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  padding: 50px 30px;
}

.form__title {
  margin-top: 2px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--title-cl);
}

.form__field {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.form__label {
  display: block;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-cl);
  margin-bottom: 4px;
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  outline: none;
  border-color: var(--accent-cl);
}

.form__contract {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .form__contract {
    justify-content: center;
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__contract-wrapper {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .form__contract-wrapper {
    flex-wrap: nowrap;
  }
}

.custom-checkbox {
  display: block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 1.5px solid black;
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox:focus ~ .custom-checkbox {
  border: 1.5px solid var(--accent-cl);
}

.form__checkbox:checked + .custom-checkbox {
  background-color: var(--accent-cl);
  border-color: var(--accent-cl);
  background-image: url(../images/icons/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.form__link {
  display: block;
  color: var(--accent-cl);
}

.form__btn {
  font-size: 21px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: auto;
  margin-top: 43px;
  padding: 18px 50px;
  letter-spacing: 0.06em;
  color: var(--white-cl);
  background: var(--accent-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__btn:hover,
.form__btn:focus {
  background-color: var(--hover-cl);
}

.social {
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--white-cl);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
  transform: scale(1.2);
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slick-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .slick-slide {
    margin-right: 30px;
  }
}

.form__registration {
  background-color: var(--form-bg);
}

.form__registr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.form__registration-title {
  font-size: 60px;
  letter-spacing: 0.02em;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-cl);
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .form__registration-title {
    font-size: 50px;
  }
}

@media screen and (max-width: 480px) {
  .form__registration-title {
    font-size: 26px;
  }
}

.form__registration-subtitle {
  font-size: 25px;
  color: var(--white-cl);
  font-weight: 400;
  text-align: center;
  line-height: 1.68;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .form__registration-subtitle {
    font-size: 21px;
  }
}

@media screen and (max-width: 480px) {
  .form__registration-subtitle {
    font-size: 18px;
  }
}

.form-registration-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form__registration-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 160px;
}

.form__registration-input {
  display: block;
  width: 540px;
  height: 60px;
  border-radius: 5px;
  border: 0;
  padding-left: 25px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .form__registration-input {
    width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .form__registration-input {
    width: 300px;
  }
}

.form__registration-input:hover,
.form__registration-input:focus {
  outline: none;
}

.header__form-input::placeholder {
  font-family: var(--logo-font);
  font-weight: 400;
  font-size: 25px;
  color: #a1a1a1;
}

.form__registration-btn {
  font-family: var(--logo-font);
  font-size: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: auto;
  margin-top: 30px;
  padding: 15px 35px;
  letter-spacing: 0.02em;
  color: var(--white-cl);
  background: var(--accent-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 5px;
  transition: background-color 250ms var(--time-func);
}

@media screen and (max-width: 480px) {
  .form__registration-btn {
    padding: 12px 25px;
  }
}

.form__registration-btn:hover,
.form__registration-btn:focus {
  outline: none;
  background-color: var(--hover-cl);
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.section__title {
  font-weight: 400;
  font-size: 38px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--main-text-cl);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 45px;
    margin-bottom: 40px;
  }
}

.section__subtitle {
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.header {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0px;
  background-color: var(--dark-bg);
  background-image: linear-gradient(rgba(189, 149, 105, 0.2), rgba(204, 153, 102, 0.2)), url(../images/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title {
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-cl);
  display: block;
  margin: auto;
  padding-top: 60px;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) and (max-width: 1199.99px) {
  .header__title {
    font-size: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .header__title {
    font-size: 60px;
  }
}

.header__title-label {
  display: block;
  margin-top: 40px;
  font-size: 20px;
}

@media screen and (min-width: 480px) and (max-width: 1199.99px) {
  .header__title-label {
    margin-top: 40px;
    font-size: 26px;
    font-weight: 600;
  }
}

@media screen and (min-width: 1200px) {
  .header__title-label {
    margin-top: 80px;
    font-size: 32px;
    font-weight: 600;
  }
}

.header__form-btn {
  font-size: 21px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: auto;
  margin-top: 43px;
  padding: 23px 120px;
  letter-spacing: 0.06em;
  color: var(--white-cl);
  background: var(--accent-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 5px;
  transition: background-color 250ms var(--time-func);
}

@media screen and (max-width: 480px) {
  .header__form-btn {
    padding: 23px 95px;
  }
}

.header__form-btn:hover,
.header__form-btn:focus {
  background-color: var(--hover-cl);
}

.header__form-wrapper {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1199.99px) {
  .header__form-wrapper {
    width: 100%;
    justify-content: center;
  }
}

.header__form-input-wrapper {
  display: flex;
  flex-direction: column;
}

.header__form-input {
  display: block;
  width: 350px;
  height: 60px;
  border-radius: 5px;
  border: 0;
  margin-top: 40px;
  padding-left: 25px;
}

@media screen and (max-width: 768px) {
  .header__form-input {
    display: none;
  }
}

.header__form-input::placeholder {
  color: #a1a1a1;
}

.features__list {
  align-items: center;
}

.features__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.features__item:nth-child(2) {
  display: none;
}

@media screen and (min-width: 768px) {
  .features__item:nth-child(2) {
    display: block;
  }
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-bottom: 30px;
}

.features__title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-text-cl);
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .features__title {
    font-size: 30px;
  }
}

.features__text {
  font-size: 15px;
  line-height: 2;
}

@media screen and (min-width: 768px) and (max-width: 1199.99px) {
  .features__text {
    font-size: 13px;
  }
}

.courses {
  background-color: var(--dark-bg);
}

.courses__item {
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .courses__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

.course__thumb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  background-color: var(--thumb-bg);
  padding: 15px 28px 20px 28px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 1199px) {
  .course__thumb {
    flex-wrap: nowrap;
  }
}

.course__title {
  font-size: 25px;
  margin-bottom: 15px;
  text-align: center;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 768px) {
  .course__title {
    margin-bottom: 20px;
    letter-spacing: 0.06em;
  }
}

.course__description {
  font-family: var(--logo-font);
  font-size: 17.5px;
  font-weight: 400;
  line-height: 1.7;
}

@media screen and (min-width: 1199px) {
  .course__description {
    margin-right: 24px;
  }
}

.course__link {
  text-decoration: none;
  font-family: var(--logo-font);
  font-size: 17.5px;
  font-weight: 400;
  color: var(--link-cl);
  transition: color 250ms var(--time-func);
}

.course__link:hover,
.course__link:focus {
  color: var(--accent-cl);
}

.course__btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.course__btn {
  font-size: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: auto;
  margin-top: 33px;
  padding: 9px 13px;
  letter-spacing: 0.06em;
  color: var(--white-cl);
  background: var(--accent-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.course__btn:hover,
.course__btn:focus {
  background-color: var(--hover-cl);
}

.course__img {
  margin-bottom: 20px;
}

@media screen and (min-width: 1199px) {
  .course__img {
    margin-bottom: 0;
  }
}

.partners {
  position: relative;
  padding: 30px 60px;
}

.partners .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 50px;
  height: 50px;
  border: 0;
}

.partners .slick-arrow.slick-prev {
  left: 0;
  background: url(../../images/partners/arrleft.png);
  background-repeat: no-repeat;
}

.partners .slick-arrow.slick-next {
  right: 0;
  background: url(../../images/partners/arrright.png);
  background-repeat: no-repeat;
}

.partners__name {
  text-align: center;
  margin-top: 25px;
}

.promo {
  background-image: url(../../images/promo/education.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

@media screen and (min-width: 768px) {
  .promo {
    background-position: center;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.promo__title {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height: 1.17;
  color: var(--white-cl);
  text-align: right;
}

@media screen and (max-width: 480px) {
  .promo__title {
    color: var(--main-text-cl);
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .promo__title {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .promo__title {
    font-size: 35px;
  }
}

.promo__text-wrapper {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 33px;
}

@media screen and (min-width: 320px) and (max-width: 767.99px) {
  .promo__text-wrapper {
    width: 100%;
    align-items: center;
  }
}

.promo__text {
  font-family: var(--logo-font);
  font-weight: 300;
  font-size: 15px;
  color: var(--white-cl);
  line-height: 1.8;
  letter-spacing: 0.02em;
  width: 200px;
}

@media screen and (min-width: 768px) and (max-width: 1199.99px) {
  .promo__text {
    width: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .promo__text {
    width: 365px;
  }
}

.promo__btn {
  font-size: 22px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 43px;
  padding: 20px 70px;
  letter-spacing: 0.04em;
  color: var(--white-cl);
  background: var(--accent-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 5px;
  transition: background-color 250ms var(--time-func);
}

@media screen and (max-width: 767px) {
  .promo__btn {
    padding: 18px 40px;
  }
}

.header__form-btn:hover,
.header__form-btn:focus {
  background-color: var(--hover-cl);
}

.team__list {
  justify-content: center;
  align-items: center;
}

.team__item {
  display: flex;
  flex-direction: column;
  background-color: var(--white-cl);
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.team__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding-top: 20px;
  padding-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .team__card {
    padding-top: 40px;
    padding-bottom: 24px;
  }
}

.team__name {
  font-family: var(--logo-font);
  font-size: 22px;
  font-weight: 400;
  color: var(--main-text-cl);
  text-align: center;
  margin-bottom: 20px;
}

.team__text {
  font-family: var(--logo-font);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.49;
  text-align: center;
  margin-bottom: 20px;
}

.footer {
  background-color: var(--footer-bg);
}

.footer__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: var(--white-cl);
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .footer__text-wrapper {
    font-size: 20px;
  }
}

@media screen and (min-width: 480px) {
  .footer__text-wrapper {
    font-size: 25px;
  }
}

.footer__text:last-child {
  margin-top: 15px;
}

.footer__text-author {
  color: var(--accent-cl);
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer__social-list:last-child {
  margin-top: 10px;
}

.footer__social-list-item:not(:last-child) {
  margin-right: 45px;
}

.footer__social-list-img {
  transition: transform 250ms var(--time-func);
}

.footer__social-list-link:hover .footer__social-list-img,
.footer__social-list-link:focus .footer__social-list-img {
  transform: scale(0.8);
}
/*# sourceMappingURL=main.css.map */