:root {
  --main-text-cl: #3e3e3e;
  --accent-cl: #ba271f;
  --hover-cl: #880f12;
  --link-cl: #fa3a5e;
  --dark-bg: #f0f0f0;
  --thumb-bg: #e8e8e8;
  --promo-bg: #a99473;
  --form-bg: #b4a184;
  --footer-bg: #a99473;
  --white-cl: #ffffff;
  --time-func: cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: "Open-Sans", sans-serif;
  --logo-font: "Lato", sans-serif;
}
